extends layout/bootstrap.jade
block body
  include navbar
  div.container

block append scripts
  script(src='http://d3js.org/d3.v3.min.js')
  script(type='text/javascript')
    include:coffeescript scripts/visualize.coffee
