doctype html5
html(lang="ja", prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
  head
    title Hatebu.me
    block meta
      meta(charset="utf-8")
      meta(name="description", content="はてブしてください")
    block style
      style(type="text/css").
        html,body,div {margin:0px;padding:0px;}
  body(oncontextmenu="return false;")
    block body
      div#title Hatebu.me
    block scripts
      - cdnjs = "//cdnjs.cloudflare.com/ajax/libs/"
      - list = []
      - list.push(cdnjs+"jquery/2.1.1/jquery.min.js")
      - list.push(cdnjs+"jquery-easing/1.3/jquery.easing.min.js")
      each src in list
          script(src=src, type='text/javascript')

